block backend
html(ng-app='tjcsweb_backend', lang='zh-cn')
head
  meta(charset='utf-8')
  title= title
  link(href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
  link(href="/stylesheets/backend.css", rel="stylesheet")  
body
  div.container(ng-view)
  footer
  script(src='//cdn.bootcss.com/angular.js/1.4.9/angular.min.js')
  script(src='//cdn.bootcss.com/angular.js/1.4.9/angular-resource.min.js')
  script(src='//cdn.bootcss.com/angular.js/1.4.9/angular-route.min.js')
  script(src="../javascripts/angulars_backend.js")  