block footer
  //- 底部
  footer
    ul
      li
        a(href='#', target='_blank') 网站地图
      li
        a(href='#', target='_blank') 网上声明
      li
        a(href='#', target='_blank') 设为首页
      li
        a(href='#', target='_blank') 加入收藏
      li
        a(href='#', target='_blank') 联系我们
    div
      a(href='#', target='_blank')
        img(src='/images/red.png')
      span 主办单位：天津市财政局 天津市地方税务局
      br
      span 和平区曲阜道4号 电话：23303740（总机）
      br
      span 津ICP备05005594  当前访问量：10000
  //- 底部结束