block header
  //- 头部，含大图、财政、地税链接及导航菜单
  header
    //- 顶部大图及财政、地税链接
    div.pc
      div.top
        div.top--mid
          div.top--mid--left
            a(href='#') 
              img(src='../images/1503121402483998375.png')
          div.top--mid--right
            a(href='#')
              img(src='../images/1503121402487792401.png')
            a(href='http://www.tjcs.gov.cn:18083/')
              span#fiscal 财 政
            a(href='http://www.tjcs.gov.cn:18084/')
              span#tax 地 税
          div.clear
      //- 导航菜单
      div.above
        nav.pc__nav--above
          ul
            li 首页
            li 机构设置
            li 政务信息
            li 预算公开
            li 办事服务
            li 公众参与
            li 政策宣传
    div.mobile
      div.top
        img(src='../images/1503011549413243087.jpg', alt='天津市财税政务网')
      nav.mobile__nav--above
        ul
          li
            a(href='#') 财税新闻
          li
            a(href='#') 通知公告
          li
            a(href='#') 政策发布
          li
            a(href='#') 政策解读
          li
            a(href='#') 财税数据
          li
            a(href='#') 办事服务  
  //- 头部结束