doctype html
html(ng-app='tjcsweb', lang='zh-cn')
  head
    title= title
    meta(name='viewport', content='width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    base(href='/')
  body
    block content
    script(src='//cdn.bootcss.com/angular.js/1.4.9/angular.min.js')
    script(src='//cdn.bootcss.com/angular.js/1.4.9/angular-resource.min.js')
    script(src='//cdn.bootcss.com/angular.js/1.4.9/angular-route.min.js')
    script(src='/javascripts/angulars.js')